#modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(53, 53, 53, 0.9);
    height: 100%;
    width: 100%;
    z-index: 10;
    margin: 0 auto;
    text-align: center;
}

#modalContent {
    background-color: #F3F7F8;
    text-align: center;
    border-radius: 6px;
    border: solid 1px #9E9E9E;
    box-shadow: 3px 3px 2px;
    width: 300px;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}

#modalMyContent {
    padding: 30px;
}

#modalCloseBtn {
    text-align: right;
}

#modalLine {
    height: 1px;
    width: 100%;
    background-color: #9E9E9E;
    opacity: 0.6;
}

#modalCloseBtn button {
    font-size: 22px;
    background-color: transparent;
    border: none;
    color: #E4733F;
    cursor: pointer;
    opacity: 0.8;
}

#modalCloseBtn button:focus {
    outline: none;
}

#modalCloseBtn button:hover {
    opacity: 1;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}